<%- include("../partials/adminheader.ejs") %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
      <section class="body-section">
        <h3 class="i-names">Banner</h3>
        <div class="table-top container mb-5">
            <div>
              <a href="/admin/home/banner/add" class="btn btn-outline-success" role="button" aria-disabled="true">Add</a>
            </div>
        </div>
        <div class="container">
          <div class="table-responsive">
              <table class="table align-middle" id="ptable">
                <thead>
                  <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Head</th>
                      <th scope="col">Sunhead</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% allData.forEach(data =>{  %>
                  <tr>
                      <td><img class="pro-img" src="<%= data.image %> " alt=""></td>
                      <td><%= data.Heading %> </td>
                      <td><%= data.Subheading %> </td>
                      <td colspan="3">
                        <div class="d-flex flex-column gap-1">
                              <a
                              href="/admin/home/banner/delete/<%= data._id %>"
                              class="btn btn-outline-danger btn-sm"
                              tabindex="-1"
                              role="button"
                              aria-disabled="true"
                              >Delete</a>
                            </div>
                      </td>
                  </tr>

                  <%})%>

                </tbody> 
              </table>
            </div>
      </div>
    </section>
</div>
</div>
<!-- End of modal backdrop -->

<script>
  $(document).ready(function () {
    $('#ptable').DataTable();
    });
</script>
</body>
</html>