<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/adminheader.ejs') %> 
    <link rel="stylesheet" href="/css/adminProducts.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <section class="body-section">
        <h3 class="i-names">Orders</h3>
        <div class="container">
          <div class="table-responsive">
              <table class="table align-middle" id="ptable">
                <thead>
                  <tr>
                      <th scope="col">Order id</th>
                      
                      
                      <th scope="col">Payment method</th>
                      <th scope="col">Payment status</th>
                      <th scope="col">Order status</th>
                      <th scope="col">Order placed at</th>
                      <th scope="col">Delivery expected</th>
                      <th></th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% allData.forEach(data => { %>
                    <tr <% if (data.orderStatus == 'Completed') { %>
                      style="background-color: #3ef06e"
                    <% } else if(data.orderStatus == 'Cancelled') { %>
                      style="background-color: #f70505"
                      <% } %> 
                      >
                      <td>#<%= data.order_id %></td>
                      
                      
                      <td><%= data.paymentMethod %></td>
                      <td>
                          <select name="pstatus" id="ps<%= data._id %>" class="form-select-sm" disabled>
                            <% if (data.paymentStatus === 'Pending') { %>
                              <option value="Paid">Paid</option>
                              <option value="Pending" selected>Pending</option>
                            <% } else if (data.paymentStatus === 'Paid') {%>
                              <option value="Paid" selected>Paid</option>
                              <option value="Pending">Pending</option>
                            <% } else if (data.paymentStatus === 'Cancelled') {%>
                              <option value="Cancelled">Cancelled</option>
                               <% } %> 
                          </select>
                      </td>
                      <td>
                          <select name="orstatus" class="form-select-sm" id="or<%= data._id %>" disabled>
                            <% if (data.orderStatus === 'Pending') { %>
                              <option value="Pending" selected>Pending</option>
                              <option value="Confirmed" >Confimed</option>
                              <option value="Shipped">Shipped</option>
                              <option value="Delivered">Delivered</option>
                            <% } else if (data.orderStatus === 'Confirmed') {%>
                              <option value="Pending">Pending</option>
                              <option value="Confirmed" selected>Confimed</option>
                              <option value="Shipped">Shipped</option>
                              <option value="Delivered">Delivered</option>
                            <% } else if (data.orderStatus === 'Shipped') {%>
                              <option value="Pending">Pending</option>
                              <option value="Confirmed">Confimed</option>
                              <option value="Shipped" selected>Shipped</option>
                              <option value="Delivered">Delivered</option>
                              <% } else if (data.orderStatus === 'Delivered') {%>
                                <option value="Pending">Pending</option>
                                <option value="Confiemed">Confimed</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Delivered" selected>Delivered</option>
                              <% } else if (data.orderStatus === 'Completed') {%>
                                <option value="Completed">Completed</option>
                              <% } else if (data.orderStatus === 'Cancelled') {%>
                                <option value="Cancelled">Cancelled</option>
                              <% } %> 
                          </select>
                      </td>
                      <td><%= data.order_placed_on %></td>
                      <td><%= data.expectedDelivery %></td>
                      <td>
                        <div class="d-flex flex-column">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#model-product-<%= data.order_id %>"
                        >
                          Products
                        </button>
                        <div
                          class="modal fade"
                          id="model-product-<%= data.order_id %>"
                          tabindex="-1"
                          aria-labelledby="product-<%= data.order_id %>Label"
                          aria-hidden="true"
                        >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1
                                    class="modal-title fs-5"
                                    id="product-<%= data.order_id %>Label"
                                  >
                                    Products
                                  </h1>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <div class="modal-body">
                                  <div class="p-3">
                                    <div class="d-flex flex-column justify-content-center">

                                      <% data.product.forEach(element => { %>
                                        <div
                                          class="d-flex align-items-center gap-5"
                                          style="border: 0.5px solid #d9d9d9"
                                        >
                                          <div>
                                            <img
                                              src="<%= element.image[2].url %>"
                                              alt=""
                                              style="width: 100px; height: 100px"
                                            />
                                          </div>
                                          <div>
                                            <%= element.name %>
                                          </div>
                                          <div>
                                            <% data.products.forEach(ele => { %>
                                              <% if (element._id+''== ele.product_id+'') { %>
                                                Qty: <%= ele.quantity %>
                                                <!-- Size: <%= ele.size %> -->
                                                <% } %>
                                            <% }) %>
                                          </div>
                                          <div>Price: <%= element.price %></div>
                                        </div>
                                      <% }) %>
                                      <div class="d-flex justify-content-center">
                                        <h4>Total Price: Rs.<%= data.totalAmount %> </h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-primary btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#address-<%= data.order_id %>">
                            Address
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="address-<%= data.order_id %>" tabindex="-1" aria-labelledby="address-<%= data.order_id %>Label" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="address-<%= data.order_id %>Label">Address</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <% data.address.forEach(element => { %>
                                   <address>
                                    <%= element.name %>, <br>
                                    <%= element.address %>, <br>
                                    <%= element.city %>, <%= element.state %>,<br>
                                    India,<br>
                                    <%= element.pincode %> <br>
                                    
                                   </address>
                                  <% }) %>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <% if (data.orderStatus != 'Completed') { %>
                          <% if (data.orderStatus != 'Cancelled') { %>
                            <div class="d-flex flex-column align-items-center">
                              <!-- <%= data.orderStatus != 'Cancelled' %>  -->
                              <button class="btn btn-danger btn-sm" id="ed<%= data._id %>" onclick="enable('<%= data._id %>')">
                                  <i class="material-symbols-outlined">edit</i>
                              </button>
                              <button class="btn btn-danger btn-sm" onclick="done('<%= data._id %>')" style="display: none;" id="ch<%= data._id %>">
                                  <i class="material-symbols-outlined">
                                      check
                                      </i>
                              </button>
                          <% } %>
                        <% } %>
                        <% if (data.orderStatus == 'Pending') { %>
                          <button type="button" class="btn btn-danger btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#model-del-<%= data.order_id %>">
                            Cancel
                          </button>
                          <div class="modal fade" id="model-del-<%= data.order_id %>" tabindex="-1" aria-labelledby="model-del-<%= data.order_id %>Label" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="model-del-<%= data.order_id %>Label">Order Completed</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Are you certain you want to cancel this order?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                  <button type="button" class="btn btn-primary" onclick="cancel('<%= data._id %>')">Yes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% } %>
                          <% if (data.paymentStatus == 'Paid' && data.orderStatus == 'Delivered') { %>
                            <button type="button" class="btn btn-danger btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#model-com-<%= data.order_id %>">
                              Completed
                            </button>
                          <% } %>
                          <div class="modal fade" id="model-com-<%= data.order_id %>" tabindex="-1" aria-labelledby="model-com-<%= data.order_id %>Label" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="model-com-<%= data.order_id %>Label">Order Completed</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Are you certain the order has been completed? (Once an order has been completed, no further changes can be made.)
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                  <button type="button" class="btn btn-primary" onclick="complete('<%= data._id %>')">Yes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      </td>
                  </tr>
                  <% }) %>
                </tbody> 
              </table>
            </div>
      </div>
    </section>
<script>
    $("#menu-btn").click(function () {
      $("#menu").toggleClass("active");
    });
    $(document).ready(function () {
    $('#ptable').DataTable();
    });
    function enable(id) {
        document.getElementById("ps"+id).disabled=false;
        document.getElementById("or"+id).disabled=false;
        document.getElementById("ed"+id).style.display='none';
        document.getElementById("ch"+id).style.display='block';
    }
    function done(id) {
        document.getElementById("ps"+id ).disabled=true;
        document.getElementById("or"+id ).disabled=true;
        document.getElementById("ed"+id).style.display='block';
        document.getElementById("ch"+id).style.display='none';
        const paymentstat = document.getElementById("ps"+id ).value;
        const orderstat = document.getElementById("or"+id ).value;

        $.ajax({
          url: '/admin/changestatus',
          data: {
              orderID: id,
              paymentStatus: paymentstat,
              orderStatus: orderstat,
          },
          method: 'post',
          success: () => {
              // document.getElementById('quantity').innerHTML = Number(qty) + Number(count);
              location.reload();
          },
      });
    }
    function complete(id) {
      $.ajax({
          url: '/admin/ordercompleted',
          data: {
              orderID: id,
          },
          method: 'post',
          success: () => {
              // document.getElementById('quantity').innerHTML = Number(qty) + Number(count);
              location.reload();
          },
      });
    }
    function cancel(id) {
      $.ajax({
          url: '/admin/ordercancel',
          data: {
              orderID: id,
          },
          method: 'post',
          success: () => {
              // document.getElementById('quantity').innerHTML = Number(qty) + Number(count);
              location.reload();
          },
      });
    }
  </script>
  <style>
    #menu .items li:nth-child(5) {
      border-left: 4px solid #fff;
    }
  </style>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>
</body>
</html>
