<%- include("../partials/userheader.ejs") %>

<section class="mt-5">
      <div class="container">
        <!-- <div class="d-flex"> -->
          <form method="post" id="checkout">
            <div class="row">
              <div class="order col-md-6 mt-3">
                <h5 class="white">Order Details:</h5>
                <div
                  style="border: 1px solid; width: 100%;"
                  class="p-4 d9"
                >
                <h6>Products: </h6>
                  <% allData.forEach(element => { %>
                  <div>&emsp;&emsp; <%= element.productDetail.product_name %> &emsp; &emsp; &emsp; Qty: <%= element.productQuantity %> <label for="">x &emsp; Rs. <%= element.productDetail.price %></label>&emsp; = &emsp;&emsp;Rs.  <%= element.productPrice %></div> 
                  <% }) %>
                  <!-- <div>&emsp; white Shoes &emsp; Qty: 1 <label for="">x Rs.999</label>&emsp;Price: Rs.999</div> -->
                  <hr>
                  &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; <b>Total: &emsp;&emsp;  Rs. <%= sum %> </b>  
                </div>
              </div>
              <div class="shipadrss col-md-6 mt-3">
                <h5 class="white">Shipping Address:</h5>
                <!-- <a href="/address" class="btn btn-primary">+ Add Address</a> -->
      
                <% address.forEach(data => { %>
                  <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-content-center align-items-center d9"
                >
                  <input type="radio" value="<%= data._id %>" name="address"/>&emsp;&emsp;
                  <p class="ms-3">
                    <b><%=data.name %> </b><br />
                    <%= data.address %> <br>
                    <%= data.city %> ,
                    <%= data.state %> <br>
                    <%= data.pincode %> 
                  </p>
                </div>
                <% }) %>
                <% if (address.length == 1) { %>
                  <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-items-center d9"
                >
                  <a href="/address" class="btn btn-primary">+ Add Address</a>
                </div>
                <% } %>
              </div>
              <div class="payment col-md-6 mt-3">
                <h5 class="white">Payment:</h5>
                <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-content-center align-items-center d9"
                >
                  <input type="radio" name="pay" value="cod" class="me-1" required checked/>
                    Cash On Delivery (COD)
                </div>
                <div
                  style="border: 1px solid"
                  class="p-4 d-flex align-content-center align-items-center d9"
                >
                <input type="radio" name="pay" value="Online" class="me-1" required/>
                  Pay Online
                </div>
              </div>

              <div class="payment col-md-6 mt-3 p-5" >
                <button type="submit" class="btn btn-primary btn-lg w-100 mt-4">
                  Confirm Order
                </button>
                
                  <a
                    href="/cart"
                    class="btn btn-primary btn-lg w-100 mt-2"
                  >
                    Go Back
                  </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <div class="white">
      <!-- <%= allData %> -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/javascript/cart.js"></script>
    <style>
      .blue{
        background-color: #000000;
      }
      .d9{
        background-color: #ffffff;
      }
      .white{
        color: rgb(0, 0, 0);
      }
    </style>


<%- include("../partials/userfooter.ejs") %>


<script>
  $("#checkout").submit((e) => {
    e.preventDefault();
      $.ajax({
      url: "/orderconfirmed",
      method: "post",
      data: $("#checkout").serialize(),
      success: (response) => {
            if (response[0].success) {
              location.href = `/ordersuccess/${response[0].oid}`;
            } else {
              razorPay(response[0].orders);
            }
        },
      });
  });
    
    
  function razorPay(order) {
        var options = {
          key: "rzp_test_mqyD5x6VcWLJVE", // Enter the Key ID generated from the Dashboard
          amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          currency: "INR",
          name: "Starlight",
          description: "Test Transaction",
          order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          handler: function (response) {
            verifyPayment(response, order);
          },
          prefill: {
            name: "Shobin",
            email: "shobin@gmail.com",
            contact: "9876543210",
          },
          notes: {
            address: "Razorpay Corporate Office",
          },
          theme: {
            color: "#3399cc",
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.on("payment.failed", function (response) {
        });
        rzp1.open();
      }


      function verifyPayment(payment, order) {
      $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        order,
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          location.href = `/ordersuccess/${response.oid}`;
        } else {
          location.href = "/paymentFail";
        }
      },
    });
  }
    </script>
  </body>
</html>