
<%- include("../partials/userheader.ejs") %>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"><span class="font-weight-bold">Shobin</span><br><span><a href="/orderhistory" class="btn btn-primary profile-button">Orders</a> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <section
      class="row gx-0 d-flex align-content-center justify-content-center"
    >
      <div class="col-md-6 col-lg-4 col-sm-10 col-12 p-3 div-main">
        <div
          class="row gx-0 justify-content-center align-content-center align-items-center"
        >
          <div
            class="col-md-12 d-flex flex-column align-items-center justify-content-center"
          >
           
          </div>
          <div class="align-self-center">
            <table class="table table-borderless p-md-5">
              <tr>
                <th>Name:</th>
                <td><%= user.name %></td>
              </tr>
              <tr>
                <th>Phone:</th>
                <td><%= user.phone %></td>
              </tr>
              <tr>
                <th>Email:</th>
                <td><%= user.email %></td>
              </tr>
              <tr>
                <th>Password:</th>
                <td>
                  <a href="/changepassword" class="btn btn-success btn-sm"
                    >Change Password</a
                  >
                </td>
              </tr>
            </table>
          </div>
         
      </div>
    </section>
                <!-- <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div> -->
            </div>
        </div>
        <div class="col-md-4">

            <div class="mt-md-4 mb-md-4">
                <hr />
                <h5>Address:</h5>
                <% address.forEach(element => { %>
                <address class="p-3">
                  <%= element.address %>, <br />
                  <%= element.city %>, <%= element.state %>, <br />
                  <%= element.pincode %>
                  <br />
                  <br>
                  <a
                    href="/editprofile/<%= element._id %>"
                    class="btn btn-sm btn-success"
                    >Edit</a
                  >
                  <a
                    href="/deleteprofile/<%= element._id %>"
                    class="btn btn-sm btn-danger"
                    >Delete</a
                  >
                <!-- </address> -->
                <% }) %>
                 <% if (address.length <= 1) { %>
                <a href="/addprofile" class="btn btn-sm btn-success"
                  >+ Add address</a
                >
                <% } %>
              </div>
              <div class=" justify-content-center mt-1 ml-5">
                <a href="/" class="btn btn-primary profile-button">Go to home</a>
              </div>
            </div>
            
        </div>
    </div>
</div>
</div>
</div>

<style>
    body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>

  <!-- <%- include("../partials/userfooter.ejs") %> -->