<%- include("../partials/userheader.ejs") %>

<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div>
      <h6 class="mb-0">
        <a href="/orderhistory" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go Back</a>
      </h6>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card mt-3" style="border-radius: 10px">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">
              Product Details
              <span style="color: #a8729a"> </span>!
            </h5>
          </div>
          <div class="card-body p-4">
            <div class="card shadow-0 border mb-4">
              <div class="card-body">

                  <% productData.forEach((element)=>{ %> 

                <div class="row">
                  <div class="col-md-2">
                    <img
                        src="<%= element.productDetail.image[2].url %>"
                        alt=""
                        style="width: 100px; height: 100px"
                      />
                    
                  </div>
                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0">
                      <%= element.productDetail.name %> 
                    </p>
                  </div>
                  
                  
                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0 small">
                      Qty: <%= element.productQuantity %> 
                    </p>
                  </div>
                  <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center"
                  >
                    <p class="text-muted mb-0 small">
                      Total: <%= element.productPrice %> 
                    </p>
                  </div>
                </div>

                

                

                <hr
                  class="mb-4"
                  style="background-color: #e0e0e0; opacity: 1"
                />

               
                <% }) %> 
                


                

                
              </div>

                  

                </div>

              </div>
              <section style="display: flex; justify-content: space-around;">
                
                <div>
                  <h5>Address :</h5><br>
                  <% for(let i=0;i<getAddress.length;i++){%>
                    <address>
                    <%=getAddress[i].Address.address%>, <br>
                    <%=getAddress[i].Address.city%>, 
                    <%=getAddress[i].Address.state%>, <br>
                    <%=getAddress[i].Address.pincode%> <br> 
                      <p></p>
                     
                    </address>
                   
                  <%}%>
                </div>

                <div>
                  <h5 class="fw-bold">Order Details :</h5><br>
                  <p class="text-muted mb-0">
                    <span class="fw-bold me-4">Shipping : &emsp;  </span> Rs.  0.00
                  </p>
                  <!-- <p class="text-muted mb-0">
                    <span class="fw-bold me-4">Discount : &emsp; </span>Rs. 0.00  
                  </p> -->
                  <p class="text-muted mb-0">
                   
                    <span class="fw-bold me-4">Total :&emsp;&emsp;&emsp;  </span>Rs.<%=productData[0].totalAmount%>  
                     
                  </p>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>