<%- include("../partials/userheader.ejs") %>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0"></span> <strong class="text-black">Wishlist</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">



            

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <!-- <th class="product-size">Size</th> -->
                    <th class="product-quantity">Add to Cart</th>
                    <!-- <th class="product-total">Total</th> -->
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>

            



                <% allData.forEach(data => { %>

                

                

                <tbody>

                  <tr>
                    <td class="product-thumbnail">
                      <img src="<%= data.productDetail.image[2].url %>" alt="Image" class="img-fluid" width="50rem">
                
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black"><%= data.productDetail.name %></h2>
                    </td>
                    <td>₹ <%= data.productDetail.price %></td>
                    <!-- <td><%= data.productDetail.size %></td> -->

                    



                    

                    <td>
                      <a href="/wishtocart/<%= data.productDetail._id %>">add to cart</a>
                    </td>
                    

                   

                    

                    

                    
                    
                    <td>
                      <button class="btn btn-primary btn-lg active" role="button" onclick="deleteWishlistItem ('<%= data._id %>','<%= data.productDetail._id %>')">Remove</button>
                       

                    </td>
                    
                    <!-- <td><a href="" class="btn btn-primary btn-sm" onclick="deletecartitem ('<%= data._id %>','<%= data.productDetail._id %>')">X</a></td> -->
                    
                  </tr>

                </tbody>

                <% }); %>



                



    
                <script>
                   function deleteWishlistItem(wishlistId,productId){
                    
                    $.ajax({
                      url:'/delete-wishlist-item',
                      data:{
                        wishlist:wishlistId,
                        product:productId,
                        

                      },
                      method:'post',
                      success:(response) => {
                        console.log(response)
                        if(response.status==true){
                          location.reload();
                        }else{
                          alert("err")
                        }
                      }
                    })

                  }
                </script>



               


              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              
              <div class="col-md-6">
                
                <a href="/shop" class="btn btn-primary btn-sm btn-block" role="button" >Continue Shopping</a>
              </div>
            </div>
  
                
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../partials/userfooter.ejs") %>
